<div class="about text-center">
  <p id="title">About</p>
  <div class="d-flex justify-content-center gap-5 pb-5">
    <div>
      <img src="../../assets/img/FotoPort.png" alt="Foto Personale">
    </div>
    <div>
      <p id="nome"><span>&lt; </span>Gustavo Oliveira<span> /&gt;</span></p>
      <ul>
        <li><i class="bi bi-code-slash"></i> Desenvolvedor Web desde 2022</li>
        <li><i class="bi bi-pc-display"></i> Cursando Ciência da Computação</li>
        <li><i class="bi bi-braces"></i> Interesse em Densenvolvimento Front End</li>
        <li><i class="bi bi-search"></i> Desenvolvedor Web desde 2022</li>
      </ul>
    </div>
  </div>
</div>
