.about{
  background-color: #252525;
}

#title{
  font-size: 4rem;
  font-weight: 600;
  padding: 0rem 0 5rem;
  color: #fff;
}

#title2{
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
  color: #69DFEB;
}

#nome{
  color: #9b9b9b;
  font-size: 3rem;
  font-weight: 600;
}

img{
  width: 400px;
  height: auto;
}

span{
  color: #69DFEB;
}

li{
 color: white;
 list-style-type: none;
 width: 40rem;
}

.bi1{
  color: #8b8b8b;
  font-size: 1.4rem;
  padding-right: 0.5rem;
}

.skillsContent {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icon {
  cursor: pointer;
  color: #fff;
  font-size: 4rem;
  transition: .5s;
}

.icon1:hover {
  color: #c3002f;
}

.icon2:hover {
  color: #E34F26;
}

.icon3:hover {
  color: #1572B6;
}

.icon4:hover {
  color: #F7DF1E;
}

.icon5:hover {
  color: #377cc8;
}

.icon6:hover {
  color: #6e2bf2;
}

.icon7:hover {
  color: #c76494;
}

.icon8:hover {
  color: #0878bf;
}

.icon9:hover {
  color: #77ae68;
}

.icon10:hover {
  color: #396c94;
}

.icon11:hover {
  color: #6db33f;
}

.icon12:hover {
  color: #8400ff;
}
