
html{
  background-color: #252525;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #252525;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8e7ee;
}

::-webkit-scrollbar-thumb {
  background-color: #69DFEB;
  border-radius: 5px;
}
